<h2>Topic 7</h2>
<h3>1. Data Cleaning</h3>
<p></p>

In [20]:
import pandas as pd
data_url = "pima-indians-diabetes.csv"
df = pd.read_csv(data_url)

In [21]:
df.head()

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,tricep_thicknes,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [22]:
df.describe()

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,tricep_thicknes,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [23]:
df.dtypes

times_pregnant                    int64
plasma_glucose_concentration      int64
diastolic_blood_pressure          int64
tricep_thicknes                   int64
2-hour_serum_insulin              int64
BMI                             float64
diabetes_pedigreen              float64
age                               int64
diabetes                          int64
dtype: object

In [24]:
df["diabetes"] = df["diabetes"].astype(bool)
df.head()

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,tricep_thicknes,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,True
1,1,85,66,29,0,26.6,0.351,31,False
2,8,183,64,0,0,23.3,0.672,32,True
3,1,89,66,23,94,28.1,0.167,21,False
4,0,137,40,35,168,43.1,2.288,33,True

In [25]:
df["diabetes"] = df["diabetes"].astype(int)
df.head()

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,tricep_thicknes,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [28]:
#reference
#df2 = df

import numpy as np
df2 = df.copy()

for col in df2.columns[1:7]:
    df2[col]=df2[col].replace(0,np.nan)

df2.head()

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,tricep_thicknes,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [31]:
# Careful with this because it might invalidate good data

df3 = df.copy()
df3.replace(0,np.nan,inplace=True) #inplace overwrites the data
df3.head()

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,tricep_thicknes,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50,1.0
1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31,NaN
2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21,NaN
4,NaN,137.0,40.0,35.0,168.0,43.1,2.288,33,1.0

In [32]:
df2.describe()

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,tricep_thicknes,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,121.686763,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.535641,12.382158,10.476982,118.775855,6.924988,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,64.000000,22.000000,76.250000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,141.000000,80.000000,36.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [33]:
np.mean(df2["plasma_glucose_concentration"])

121.6867627785059

In [34]:
np.std(df2["plasma_glucose_concentration"])

30.515624262345657

In [35]:
m = np.mean(df2["plasma_glucose_concentration"])
sd = np.std(df2["plasma_glucose_concentration"])

In [44]:
df4 = df2.copy()
for (i,val) in enumerate (df4["plasma_glucose_concentration"]):
    if(val > (m +(sd * 2.5))) or (val < (m -(sd * 2.5))):
        df4.at[i,"plasma_glucose_concentration"] = m
        print("replaced an outlier: ",i, val)

replaced an outlier:  62 44.0
replaced an outlier:  561 198.0
replaced an outlier:  661 199.0

In [45]:
df4.describe()

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,tricep_thicknes,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,121.587235,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.149764,12.382158,10.476982,118.775855,6.924988,0.331329,11.760232,0.476951
min,0.000000,56.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.500000,64.000000,22.000000,76.250000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,140.000000,80.000000,36.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,197.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

<h3>2. Data Cleaning</h3>

In [46]:
df5 = df2.copy()
m = np.mean(df2["plasma_glucose_concentration"])
sd = np.std(df2["plasma_glucose_concentration"])

df5.loc[df5["plasma_glucose_concentration"] > ((m +(sd * 2.5))), "plasma_glucose_concentration"] = m
df5.loc[df5["plasma_glucose_concentration"] < ((m -(sd * 2.5))), "plasma_glucose_concentration"] = m
df5.describe()

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,tricep_thicknes,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,121.587235,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.149764,12.382158,10.476982,118.775855,6.924988,0.331329,11.760232,0.476951
min,0.000000,56.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.500000,64.000000,22.000000,76.250000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,140.000000,80.000000,36.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,197.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

<h3>Masks</h3>

In [49]:
#1,2,3 = false, true , false = false , 2 , false

df6 = df2.copy()
m = np.mean(df2["plasma_glucose_concentration"])
sd = np.std(df2["plasma_glucose_concentration"])
threshold = sd*2.5

mask = (df6["plasma_glucose_concentration"] > (m + threshold)) | \
        (df6["plasma_glucose_concentration"] < (m - threshold))
df6.loc[mask,"plasma_glucose_concentration"]= m
df6.describe()

,times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,tricep_thicknes,2-hour_serum_insulin,BMI,diabetes_pedigreen,age,diabetes
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,121.587235,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.149764,12.382158,10.476982,118.775855,6.924988,0.331329,11.760232,0.476951
min,0.000000,56.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.500000,64.000000,22.000000,76.250000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,140.000000,80.000000,36.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,197.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000